{{!-- <main class="text-bg-light"> --}}
<main class="row gy-5 m-3">
  <section class="col-12">
    <div class="card text-bg-warning">
      <img class="card-img-top" src="https://content2.rozetka.com.ua/goods/images/big_tile/334601329.jpg" alt="Nout">
      <div class="card-body">
        <h5 class="card-title text-bg-primary">Product #43254</h5>
        <p class="text-bg-secondary">Ноутбук Acer Aspire 5 <br>A515-56G-51Q5 (NX.AT2EU.00M) Pure</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </section>
  <br>
  <br>
  {{!-- <ul class="list-group">
    <li class="list-group-item">Item 1
      <ul class="list-group">
        <li class="list-group-item">Item 1.1</li>
        <li class="list-group-item">Item 1.2</li>
      </ul>
    </li>
    <li class="list-group-item">Item 2</li>
    <li class="list-group-item">Item 3</li>
  </ul>   --}}

<section class="col-4 text-center">
  <div class="card">
    <div class="card-header">
      <div>Menu</div>
    </div>
    <ul class="list-group">
      <li class="list-group-item text-bg-dark">
        <a href="#" class="btn btn-link">Home page</a>
      </li>
      <li class="list-group-item text-bg-warning">
        <a href="#" class="btn btn-link">Summary page</a>
      </li>  
      <li class="list-group-item text-bg-danger">
        <a href="#" class="btn btn-link">Skills page</a>
      </li>  
    </ul>
    <div clas="card-futer">
      <button class="btn btn-dark btn-sm">Update</button>
    </div> 
  </div>
</section>
  <br>
  <br>
<section class="col-8  text-center">
  <table class="table text-bg-success table-striped table-bordered">
    <thead>
      <tr>
        <th>#id</th>
        <th>name</th>
        <th>age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Jhon</td>
        <td>35</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Ivan</td>
        <td>35</td>
      </tr>
      <tr>
        <th>1</th>
        <td>Jhon</td>
        <td>35</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Ivan</td>
        <td>35</td>
      </tr>
    </tbody>
  </table> 
</section>  
  <br>
  <br>
  <div class="card text-bg-success">
    <div class="card-header text-center">Header</div>
    <div class="card-body">
      <h6 class="card-title"> This is title</h6>
      <p>This is content of our box</p>
      <button class="btn btn-light">Click!</button>
    </div>
    <div class="card-footer text-center">Footer</div>
  </div>
  <br>
  <br>
<section class="col-12">  
  <div class="row gx-2 gy-4">
    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h6 class="card-title"> This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h6 class="card-title"> This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h6 class="card-title"> This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h6 class="card-title"> This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h6 class="card-title"> This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body">
          <h6 class="card-title"> This is title</h6>
          <p>This is content of our box</p>
          <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
      </div>
    </div>

  </div>
</section>

</main>